{# templates/admin/users.html.twig #}
<h2>Liste des utilisateurs</h2>
<table>
    <tr>
        <th>Nom</th><th>Actif</th><th>Action</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.nom }} {{ user.prenom }}</td>
            <td>{{ user.actif ? 'Oui' : 'Non' }}</td>
            <td>
                <a href="{{ path('admin_user_toggle', {id: user.id}) }}">
                    {{ user.actif ? 'Désactiver' : 'Activer' }}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
